@import "./base.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,500&display=swap');

#app {
  font-weight: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* color: #ffffff; */
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 400;
}

searchHeading {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #999999;
}

searchResults {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #444444;
}

infoBoxValue {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.05em;
  color: #444444;
}

infoBoxLabel {
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #999999;
}







@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
  }
}

@media (min-width: 1024px) {
  
}
